.grid {
    font-size: 0; /* Removes the margin introduced by using inline-block */
    margin-left: auto;
    margin-right: auto;
    max-width: 1120px; /* Fallback for IE8 */
    max-width: 70rem; /* 1120 */
    padding-left: 1%;
    padding-right: 1%;
}
.grid > * {
    font-size: 16px; /* Fallback for IE8 */
    font-size: 1rem; /* Resets the font-size on child elements */
}
[class*="grid__col--"] {
    margin-left: 1.25%;
    margin-right: 1.25%;
    -webkit-box-sizing: border-box; /* Enables the use of padding without breaking the grid */
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
@media (min-width: 40em) { /* 640 */
    [class*="grid__col--"] {
        display: inline-block;
        vertical-align: top;
    }   
    .grid__col--20  { width: 17.5%; }
    .grid__col--25  { width: 22.5%; }
    .grid__col--30  { width: 27.5%; }
    .grid__col--33  { width: 30.833333333%; }
    .grid__col--40  { width: 37.5%; }
    .grid__col--50  { width: 47.5%; }
    .grid__col--60  { width: 57.5%; }
    .grid__col--66  { width: 64.166666666%; }
    .grid__col--70  { width: 67.5%; }
    .grid__col--75  { width: 72.5%; }
    .grid__col--80  { width: 77.5%; }
    .grid__col--100 { width: 97.5%; }
}​