.grid {
    font-size: 0; /* Removes the margin introduced by using inline-block */
    margin: 0 auto;
    max-width: 70em; /* 1120 */
    padding-right: 2.5%;
}
.grid > * {
    font-size: 16px; /* Fallback for IE8 */
    font-size: 1rem; /* Resets the font-size on child elements */
}
[class*="col-"] {
    margin-left: 2.5%;
}
@media (min-width: 40em) { /* 640 */
    [class*="col-"] {
        display: inline-block;
        vertical-align: top;
    }    
    .col-100 { width: 97.5%; }
    .col-80 { width: 77.5%; }
    .col-75 { width: 72.5%; }
    .col-70 { width: 67.5%; }
    .col-66 { width: 64.166666666%; }
    .col-60 { width: 57.5%; }
    .col-50 { width: 47.5%; }
    .col-40 { width: 37.5%; }
    .col-33 { width: 30.833333333%; }
    .col-30 { width: 27.5%; }
    .col-25 { width: 22.5%; }
    .col-20 { width: 17.5%; }
}​